# OS & IDEs
.idea/
.vscode/
*.swp
*.swo
Thumbs.db
Desktop.ini
.DS_Store

# Build & Dependencies
node_modules/
dist/
build/
bin/
obj/
release/
x64/
x86/
__pycache__/
.pytest_cache/
.venv/
venv/

# Credentials & State
.env
*.local
user_settings.json
session.json
settings.json
licenses.db
auth_token.json

# Logs & Diagnostics
*.log
*.wav
*.txt
diagnostic/
debug/

# App Specific
nebula_webapp/nebula-electron/dist/
nebula_webapp/nebula-electron/out/
